{% extends "base.html" %}
<!-- ----- -->
{% block title %} {% if email == admin %} Admin dashboard {% elif email != admin
%} User dashboard {% endif %} {% endblock %}
<!-- ---------------------------------------------------------------------- -->
{% block loginactiveness %}we manual add {% endblock %}
<!-- ---- -->

<!-- ------------------------ -->
{% block dashboard %} {% if email == admin %} {% block admin_header %} {%
endblock %} {% include "admin.html" %} {% elif email != admin %} {% include
"/normal_users/user_dashboard.html" %} {% endif %} {% endblock %} 
